{% load static %}
{% load tz %}
{% include 'base.html' %}
{% block body %}
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>单号</th>
                    <th>下单时间</th>
                    <th>件数</th>
                    <th>总计金额</th>
                    <th class="list-detail">内容</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr class="list-row" data-id="{{ order.pk }}">
                        <th>{{ order.pk }}</th>
                        <td>{{ order.created_time|localtime|date:'Y-m-d H:i:s' }}</td>
                        <td>{{ order.items.count }}</td>
                        <td>{{ order.total_price }}</td>
                        <td>{{ order.summary }}</td>
                        <td>
                            {% if order.all_picked %}
                                <span class="label label-success">已取完</span>
                            {% elif order.all_washed %}
                                <span class="label label-info">已洗完</span>
                            {% else %}
                                <span class="label label-warning">未洗完</span>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" style="text-align: center">
                            目前没有这个状态的订单
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/order-list.js' %}"></script>
{% endblock %}