<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
{% load tz %}
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
</head>
<body class="detail-body">
    <div style="text-align: center" class="no-print">
        {% if order.completed %}
            <button id="order-uncomplete" class="btn btn-success">已完成</button>
        {% else %}
            <button id="order-complete" class="btn btn-warning">未完成</button>
        {% endif %}
        <button id="order-delete" class="btn btn-danger">删除</button>
        <button id="order-print" class="btn btn-info">打印</button>
    </div>
    <div style="text-align: center">
        <h3>好太太洗衣馆</h3>
        <div>电话：13800138000</div>
        <div>下单时间：{{ order.created_time|localtime|date:'Y-m-d H:i:s' }}</div>
    </div>
    <hr>
    {% for item in items %}
        <div class="detail-item">
            <div class="pull-left"><strong>{{ item.name }}</strong></div>
            <div class="pull-right">{{ item.quantity }}&nbsp;&times;&nbsp;￥{{ item.unit_price }}</div>
            <div class="clearfix"></div>
            <div>{{ item.tags }}</div>
            <div class="text-muted">{{ item.comment }}</div>
        </div>
    {% endfor %}
    <hr>
    {% if order.comment %}
        <div>
            <div>备注：{{ order.comment }}</div>
        </div>
    {% endif %}
    <div>
        <div class="pull-left">总计</div>
        <div class="pull-right">￥{{ order.total_price }}</div>
        <div class="clearfix"></div>
    </div>
    {% if order.discount_percent %}
        <div>
            <div class="pull-left">折扣</div>
            <div class="pull-right">{{ order.discount_percent }}%</div>
            <div class="clearfix"></div>
        </div>
    {% endif %}
    {% if order.discount %}
        <div>
            <div class="pull-left">优惠</div>
            <div class="pull-right">￥{{ order.discount }}</div>
            <div class="clearfix"></div>
        </div>
    {% endif %}
    {% if order.cash_paid %}
        <div>
            <div class="pull-left">现金</div>
            <div class="pull-right">￥{{ order.cash_paid }}</div>
            <div class="clearfix"></div>
        </div>
    {% endif %}
    {% if order.card_paid %}
        <div>
            <div class="pull-left">会员卡</div>
            <div class="pull-right">￥{{ order.card_paid }}</div>
            <div class="clearfix"></div>
        </div>
    {% endif %}
    <div>
        <div class="pull-left">{% if order.balance > 0 %}还差{% else %}找零{% endif %}</div>
        <div class="pull-right">￥{{ balance }}</div>
        <div class="clearfix"></div>
    </div>
    <script>
        var id = {{ order.pk }};
    </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/order.js' %}"></script>
</body>
</html>