body {
    padding-top: 70px;
}
.box {
    margin: 15px auto;
    margin-top: 0;
    padding: 10px 15px 10px;
    border: 1px solid #000;
    border-radius: 3px;
    position: relative;
}
.card-item {
    margin: 15px auto;
    padding: 10px 15px 10px;
    border: 1px solid #ddd;
    border-left-width: 5px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}
.card-item-active {
    border-color: #1b809e;
}
.card-remove {
    position: absolute;
    top: 3px;
    right: 6px;
    text-decoration: none !important;
}
.input-group-addon-tiny {
    padding: 0 2px !important;
}
.bootstrap-tagsinput {
    width: 100%;
}
.detail-item {
    margin: 10px 0;
    horiz-align: center;
}
.detail-body {
    max-width: 320px;
    margin: 0 auto;
}
